@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@400;700&display=swap');

:root {
    /* Sidebar */
    --main-color: rgb(57, 20, 62);
    --main-color-hover: rgb(48, 17, 52);
    --main-color-light: rgb(77, 42, 81); /* For icon bg */
    --side-highlight: rgb(43, 100, 158);
    --side-text: rgb(205, 195, 206);
    /* Main */
    --heading-color: rgb(29, 28, 29);
    --text-color: rgb(40, 40, 40);
    --muted: rgb(112, 112, 112);
    --border-color: rgb(226, 226, 226);
    --hover-bg: rgb(248, 248, 248); /* hover over message bg */
    --success: rgb(52, 120, 92);
    --links: rgb(44, 100, 158);
    --links-hover: rgb(50, 107, 162);

    /* Font */
    --heading-font: 'Lato', sans-serif;
    --text-font: 'Noto Sans', sans-serif;

    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

#sidebar {
    width: 450px;
    background-color: var(--main-color);
    color: var(--side-text);
    font-size: 1.1rem;
    font-family: var(--heading-font);
    font-weight: 300;
}

#sidebar a {
    background-color: var(--main-color);
    color: var(--side-text);
    border: none;
    cursor: pointer;
    font-family: var(--heading-font);
    font-weight: 300;
    text-decoration: none;
}

.bx {

}

#sidebar ul {
    list-style-type: none;
    margin: 1rem;
}

#sidebar ul li {
    margin: .9rem 0;
}

#sidebar h1 {
    color: white;
    font-size: 1.3rem;
    display: inline;
}

#sidebar .dm-item {
    display: flex;
}

#sidebar .dm-item img {
    width: 20px;
    border-radius: 3px;
    margin-right: .5rem;
}

#sidebar #side-header, #channel-header {
    border-bottom: 1px solid var(--main-color-light);
    /* background-color: var(--main-color-hover); */
}



#sidebar #side-create-message {
    font-size: 1.8rem;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#channel-chat {
    display: grid;
    grid-template-rows: 63px auto 100px;
    width: 100%;
    background-color: white;
    border-right: 1px solid var(--border-color);
}

#channel-chat-content {
    overflow-y: auto;
}

#channel-header {
    border-color: var(--border-color);

}

#channel-header img {
    width: 20px;
    border-radius: 5px;
    margin: 0 .2rem;
}

#channel-members {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-right: .4rem;
    padding-left: .2rem;
    border-radius: 5px;
}

.channel-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-btn {
    text-decoration: none;
    margin: 0 .5rem;
    border: 1px solid var(--border-color);
    padding: .3rem .5rem;
    border-radius: 5px;
    color: var(--muted);
    transition: .3s;
}

.channel-btn:hover {
    background-color: var(--hover-bg);
    color: var(--text-color);
}

.muted {
    color: var(--muted);
}

#channel-chat-input {
    display: flex;
}

#channel-chat-input .container {
    width: 100%;
}

#channel-chat-input textarea {
    width: 100%;
    height: 100%;
    font-family: var(--text-font);
    padding: .5rem;
    outline: none;
    border-radius: 5px;
}

#thread {
    width: 580px;
    background-color: white;
    overflow-y: auto;
}

.container {
    padding: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}
