@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

:root {
    /* Sidebar */
    --main-color: rgb(57, 20, 62);
    --main-color-hover: rgb(48, 17, 52);
    --main-color-light: rgb(77, 42, 81); /* For icon bg */
    --side-highlight: rgb(43, 100, 158);
    --side-text: rgb(205, 195, 206);
    /* Main */
    --heading-color: rgb(29, 28, 29);
    --text-color: rgb(40, 40, 40);
    --muted: rgb(112, 112, 112);
    --border-color: rgb(226, 226, 226);
    --hover-bg: rgb(248, 248, 248); /* hover over message bg */
    --success: rgb(52, 120, 92);
    --links: rgb(44, 100, 158);
    --links-hover: rgb(50, 107, 162);

    /* Font */
    --heading-font: 'Lato', sans-serif;
    --text-font: 'Noto Sans', sans-serif;

    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

#sidebar {
    width: 450px;
    background-color: var(--main-color);
    color: var(--side-text);
}

#sidebar h1 {
    color: white;
}

#sidebar #side-header {
    border-bottom: 1px solid var(--main-color-light);
    background-color: var(--main-color-hover);
}

#channel-chat {
    width: 100%;
    background-color: #EEE;
    overflow-y: auto;
}

#thread {
    width: 500px;
    background-color: #AAA;
    overflow-y: auto;
}

.container {
    padding: 1rem;
}
